@use "../custom" as *;

.deals {
  margin-top: 5rem;

  .deals-image {
    margin-bottom: 4rem;
    &:hover {
      animation: yellowGlowPulse 2s ease-in-out infinite;
    }
    .deals-image-2 {
      margin-bottom: 2rem;
    }
  }
}
