@use "../custom" as *;

.intro-section {
  position: relative;
  font-family: "Alfa Slab One", serif;
  overflow: hidden;

  p {
    font-family: "Bebas Neue", sans-serif;
    border-style: dashed;
    border-color: $brown;
    padding: 0.5rem;
    font-weight: lighter;
    font-size: 1.3rem;
    color: $brown;
    text-transform: uppercase;
  }
  .text-outline{
  text-shadow:
    3px 3px 0px #fff59b,
    4px 4px 0px #fff59b,
    4px 4px 0px #fff59b;

}
.burger-image {
    position: relative;
    z-index: 2;
    width: 100%;
    animation: floatMotion 3s ease-in-out infinite, yellowGlowPulse 2s ease-in-out infinite;
  }

  .price-badge {
    position: absolute;
    bottom: 20%;
    width: 20%;
    left: 27%;
    z-index: 3;
    animation: floatMotion 3s ease-in-out infinite, yellowGlowPulse 2s ease-in-out infinite;
  }

  }

  

  

