@use '../custom' as *;

/* LOGO */
.logo {
  width: 15%;
}



/* DELIVERY BOX FIXED ABOVE MENU (RIGHT SIDE) */
.delivery-box {
  position: absolute;
  right: 0rem;
  top: -6px;        /* screenshot jaisa */
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;

  .delivery-icon {
    width: 8%;
  }
  .delivery-text {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: $primary;
    margin: 0.2rem 12.3rem 0rem 0rem;
  }
}


/* MENU RIGHT SIDE */
.menu {
  li {
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;

    a {
      text-transform: capitalize;
      color: $primary;
      font-weight: normal;
      font-size: 1.3rem;
      margin-left: 1.5rem;
      letter-spacing: 0.2rem;
      margin-top: 4rem;

      &:hover {
        color: $white;
      }
    }
  }
}

/* MOBILE FIXES */
@media (max-width: 992px) {

  .navbar .container {
    justify-content: space-between;
  }

  .delivery-box {
    display: none;   /* mobile par hide exactly like design */
  }

  .navbar-collapse {
    padding: 1rem;
  }

}
