@use "../custom" as *;

.discover-text {
  letter-spacing: 2px;
  font-size: 1.4rem;
  font-family: "Bebas Neue", sans-serif;
  color: #3b3a3a;
}

.title-text {
  font-family: "Alfa Slab One", serif;
  font-size: 38px;
  color: $brown;
}

.desc-text {
  color: #4a4a4a;
  line-height: 1.7;
}

.slider-img-box img {
  object-fit: cover;
  height: 100%;
}

/* ====================== INDICATORS ====================== */

/* Position left + text ke neeche */
.carousel-indicators {
  justify-content: flex-start !important;
  margin-left: 50px;
  bottom: 20px;
}

/* Indicator circles */
.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #000000 !important; /* grey piche ka color */
}

/* Active indicator yellow */
.carousel-indicators .active {
  background-color: $yellow !important;
}

/* ====================== ARROWS ====================== */
/* Arrow buttons style */
.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* button width */
  top: 50%; /* vertical center */
  transform: translateY(-50%);
  z-index: 10; /* ensure arrows above slides */
   filter: invert(0%) brightness(0%); /* black color */
}


