@use "../custom" as *;

.btn{
  @include media-breakpoint-down(sm) {
    display: none;
  }
  position: relative;
  padding: 0.55rem 1.3rem 0.55rem 1.3rem;
  font-size: 1rem;
  border: none;
  font-family: "Alfa Slab One", serif;
  font-weight: normal;
  text-transform: uppercase;
  background-color: $secondary;
  border-radius: 0.2rem;
  color: $white;
  margin: 0rem 0rem 0rem 0.2rem;
  &:hover {
    background-color: rgb(255, 40, 40);
    color: $white;
  }
}