@use "../custom" as *;

// Display 2
.display-2 {
  margin-bottom: 1rem;
  font-family: "Alfa Slab One", serif;

  &--intro {
    font-size: 6rem;
    color: $brown;
    display: block;
    text-transform: uppercase;
    
    
  

  }
}
