@use "../custom" as *;

// Display 2
.display-2 {
  margin-bottom: 1rem;
  font-family: "Alfa Slab One", serif;

  &--intro {
    font-size: 7rem;
    color: $brown;
    display: block;
    text-transform: uppercase;
  }
}

// Display 3
.display-3 {
  margin-bottom: 1rem;
  font-family: "Alfa Slab One", serif;
  &--intro {
    font-size: 3.5rem;
    color: $brown;
    display: block;
    text-transform: uppercase;
  }
}

// Display 4

.display-4 {
  margin-bottom: 5rem;
  &--intro {
    font-size: 3rem;
    font-family: "Alfa Slab One", serif;
    color: $brown;
    display: block;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  &--description{
    font-size: 1.3rem;
    color: $brown;
  }
}
