@use "../custom" as *;

// Display 2
.display-2 {
  margin-bottom: 1rem;
  font-family: "Alfa Slab One", serif;

  &--intro {
    font-size: 7rem;
    color: $brown;
    display: block;
    text-transform: uppercase;
  }
}

  // Display 3
.display-3 {
  margin-bottom: 1rem;
  font-family: "Alfa Slab One", serif;
  &--intro {
    font-size: 3.5rem;
    color: $brown;
    display: block;
    text-transform: uppercase;
  }
}
